#button-div {
	display: none;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	bottom: 10px;
	width: 100%;
	z-index: 1;
}
button {
	width: 120px;
	border: 2px solid black;

}
.swal-icon img{
width: 80px;
height: 80px
}

